{
    "rules": {
      "max-len": ["error", 120],
      "arrow-parens": ["error", "as-needed"],
      "no-invalid-this": 0,
      "operator-linebreak": [2, "before"],
    },
  
    "globals": {
      "window": true
    }
  }
  
